{% extends "layout.html" %}

{% block main %}

    <h5>
        <p>
            By our calculations, it has been more than 30 days(a month) since your last menstruation. Each women's menstruation cycle is different, compounded by the fact that factors over the past month could also have affected
            your menstrual cycle, such as environmental factors like high stress environment, emotional impacts or biological reasons such as poor nutrition etc, which makes it harder to provide an accurate estimate of each person's menstrual cycle.
        </p>
        <p>
            Should your menstrual cycle be irregular, please seek a professional's guidance. We can only go as far as our body enables us to, as such, we should also take care of it.
        </p>
    </h5>


{% endblock %}

