{% extends "layout.html" %}

{% block main %}

    <h2>
        <p>
            You are in {{ phase }} now, as of today's date, {{ today_date }}.
        </p>
    </h2>
    <h5>
        <p>
            This phase overlaps with menstruation. When menstruation ends, the body slowly increases estrogen to grow follicules to prepare to release an egg during the ovulation.
        </p>
        <p>
            Due to increase in estrogen, creativity is bursting, you will feel inspired, motivated, curious and high energy. This phase is beneficial for trying new things, keeping an open mind to new ideas and starting new work projects.

            Planning, brainstorming with people, dreaming up new ideas, tackling more difficult tasks, and going for job interviews are the best here.
        </p>
    </h5>


{% endblock %}