{% extends "layout.html" %}

{% block main %}

    <h2>
        <p>
            You are in {{ phase }} now, as of today's date, {{ today_date }}.
        </p>
    </h2>
    <h5>
        <p>
            This phase is the longest and hormones fluctuates here, which will lead you to be more introverted and reflective, and energy winds down towards the end of this phase.
        </p>
        <p>
            This is also known as the Power phase, where you will get things done. Close out your projects, clear your administrative work items, and inspect details.

            This is the time where you can re-evaluate aspects of your life and make life changing decisions.
        </p>

    </h5>


{% endblock %}