{% extends "layout.html" %}

{% block main %}

    <h2>
        <p>
            You are in {{ phase }} now, as of today's date, {{ today_date }}.
        </p>
    </h2>
    <h5>
        <p>
            Hormone levels are low which causes fatigue. While we rest, during this phase we should take the time to reflect and process our thoughts and feelings.
        </p>
        <p>
            During menstruation, the right and left hemispheres are maximally communicating to each other. Since our clarity and intuition will be at its highest, this phase
            could be used to reflect on your past month, analyse your emotions and inner self, focus on self-improvement and personal well being.

            At work, you could clean up your work desk, organize your work items, improve your work processes to be more efficient and remove unnecessary paperwork and administrative tasks.
        </p>
        <p>
            Besides consuming nuritious food to replenish your body, workouts that engage mindfulness such as yoga could be beneficial.
        </p>
    </h5>


{% endblock %}