{% extends "layout.html" %}

{% block main %}

    <h2>
        <p>
            You are in {{ phase }} now, as of today's date, {{ today_date }}.
        </p>
    </h2>
    <h5>
        <p>
            Hormone levels are higher here and your conversational skills are at the best in this phase.
        </p>
        <p>
            Your communication skills and team work are shining, use this phase to work well with your colleages or teammates, ask for a salary raise, negotiate with clients or network.

            Anything that requires you to use your communication skills!
        </p>
    </h5>


{% endblock %}